<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.tailwindcss.com"></script>
  <script th:src="@{/js/stockManager.js}" defer></script>
  <title>CISC 191 Architect 1 | Dashboard | Stock Details</title>
  <script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.1/dist/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
  
  <script th:src="@{/js/chartjs-chart-financial.js}" defer></script>
  <script th:src="@{/js/candleChart.js}" defer></script>
</head>
<body class="bg-zinc-950">
<div>
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a th:href="@{/}" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </a>
      </div>
    </nav>
  </header>

  <div class="pt-20">
    <header>
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-slate-400">Dashboard</h1>
      </div>
    </header>

  <div class="text-slate-50 mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    <h2 th:text="${stock.ticker}"></h2>
    <div>
      <h3 th:text="${stock.getName()}"></h3>
      <p th:text="${stock.getDescription()}"></p>
      <p th:text="${stock.getSector()}">Sector: </p>
      <p th:text="${stock.getPrice()}"></p>
      <p th:text="${stock.getDividend()}"></p>
      <a class="text-blue-500 hover:text-blue-700" th:attr="onclick=|remove(event, '${stock.getId()}')|" href="#">Remove</a>
    </div>
  </div>
  </section>

  <section>
    <div class="chart">
      <canvas id="chart"></canvas>
    </div>
  </section>
  <script th:inline="javascript">
    /*<![CDATA[*/
      const TICKER = /*[[${stock.ticker}]]*/ null;
    /*]]>*/
  </script>
</div>
</body>
</html>