<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CISC 191 Architect 1 | Dashboard | Stock Details</title>
</head>
<body>
<header>
  <h1>Welcome to your dashboard.</h1>
  <script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.1/dist/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
  
  <script th:src="@{/js/chartjs-chart-financial.js}" defer></script>
  <script th:src="@{/js/candleChart.js}" defer></script>
</header>

<section id="stocks">
  <h2 th:text="${stock.ticker}"></h2>
  <div>
    <h3 th:text="${stock.getName()}"></h3>
    <p th:text="${stock.getDescription()}"></p>
    <p th:text="${stock.getSector()}">Sector: </p>
    <p th:text="${stock.getPrice()}"></p>
    <p th:text="${stock.getDividend()}"></p>
    <a th:href="@{/remove/stock/{id}(id = ${stock.getId()})}">Remove</a>
  </div>
</section>

<section>
  <div class="chart">
    <canvas id="chart"></canvas>
  </div>
</section>
<script th:inline="javascript">
  /*<![CDATA[*/
    const TICKER = /*[[${stock.ticker}]]*/ null;
  /*]]>*/
</script>
</body>
</html>